/* 
COLOURS

BLACK: #020300
YELLOW: #E7BB41
D PURPLE: #69306D
M PURPLE: #DB7F8E
L PURPLE: #F9B5AC

*/

* {
  margin: 0;
  padding: 0;
}

.navbar {
  text-align: right;
  text-decoration: none;
}

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: white;
  color: #020300;
}

main {
  padding: 100px 0;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #69306d;
}

header {
  position: fixed;
  border-bottom: 20px solid #db7f8e;
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 20px solid #020300;
  font-weight: bold;
  color: #e7bb41;
}

li {
  text-decoration: none;
  display: inline;
  padding: 30px;
}

a {
  text-decoration: none;
  color: #e7bb41;
  font-weight: bold;
  font-size: large;
}

h1,
h2 {
  line-height: 50px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

img {
  display: block;
  margin: 20px auto;
}

img.resize {
  max-width: 25%;
  height: auto;
}

section {
  margin-bottom: 0;
  padding: 20px, 10px, 40px, 10px;
}

figure {
  margin-bottom: 40px;
  /* border: 10px solid #69306d; */
}

form {
  position: relative;
  margin: 20px auto;
  width: 500px;
  padding: 20px 0;
  background-color: #f9b5ac;
  border: 5px solid #69306d;
  border-radius: 5px;
}

label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

input,
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #4f4846;
}

textarea {
  vertical-align: top;
  height: 60px;
}

button {
  height: 40px;
  width: 120px;
  background-color: #db7f8e;
  font-weight: bold;
}

aside {
  display: inline;
  width: 50%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.form-padding {
  margin-bottom: 10px;
}

#tompic {
  max-width: 50%;
  max-height: 50%;
}

#contact {
  background-color: #db7f8e;
  height: 250px;
  padding: 20px 10px 20px 10px;
}
